*.js
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

.vscode

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.pem